

body{
   background-color: #f3f0f0;
   margin:0px;
   padding:0px;
   width:100%;
}

#glavni_div{
   margin:15px;
}

#leva_strana{
   text-align: left;
   color:rgb(172, 172, 172);
   float:left;
   height:1500px;
   
   background-color: white;
   box-shadow: 5px 5px 5px 5px #888888;
   
   margin-bottom: 20px;
}


#slika_sa_imenom{
   
   display: block;
   margin: 0;
   padding: 0;
   width:100%;
   
}

#slika{
   width:100%;
}

#ime{
   
   top: 8px;
   left: 8px;
   color:black;
   font-size:25px;
}


#osnovne_informacije{
   padding-left:10px;
}

#programski_jezici{
   padding-left: 10px;
}

#jezici{
   padding-left: 10px;
}

div.p_procenat{
   background-color: rgb(111, 180, 245);
   text-align: center;
   border-radius:10px;      
   color:white;      
}

div.j_procenat{
   background-color: rgb(111, 180, 245);
   text-align: center; 
   border-radius:10px;
   color:white;            
}

@media screen and (max-width: 767px) {
   #desna_strana{
   margin-left:50px;}
}

#desna_strana{
            
   float:left;
   
   
  
   
   background-color: white;
   box-shadow: 5px 5px 5px 5px #888888;
}

#poslovna_iskustva{
   top:15px;
}


div.posao{
   padding-left: 35px;
}



.naslov_desno{
   color:grey;
   font-size: 25px;
   font-family: "Palatino Linotype";
   padding-left:6px;
}


.naslov_posla{
   color:grey;
   font-size: 18px;
   font-family: "Palatino Linotype";
}


.vreme_rada{
   color:grey;
   font-size: 15px;
   font-family: "Palatino Linotype";
   padding-left:8px;
}

span{
   background-color: rgb(111, 180, 245);
   border-radius: 7px;
   color:white;
   padding: 4px;
             
}

.opis_posla{
   padding-left:12px;
}

         
.obrazovanje1{
   padding-left: 35px;
   font-size:18px;
   color:grey;
   font-family: "Palatino Linotype";

}

.fakultet{
   font-size:18px;
   color:grey;
   font-family: "Palatino Linotype";
}

#footer{
   clear:both;
   height:100px;
   background:black;
   color:white;
   font-size:13px;
   text-align:center;
   margin-top:80px; 
   width:100%;
}



    
